:root {
  --color1: #e3e3e3;
  --main-color2: #233142;
  --main-color3: #455d7a;
  --color4: #5c0b05;
  --color5: #7e231d;
  --color6: #7e423e;
}

.header {
  background-color: var(--color1);
  padding: 10px 15px;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  color: var(--main-color2);
}
.nav-list {
  display: flex;
  column-gap: 10px;
}
.nav-link {
  color: var(--main-color2);
  font-size: 18px;
  font-weight: 500;
}
.nav-link:hover {
  color: var(--color4);
}

body {
  background-color: var(--color1);
  font-family: "Josefin Sans", sans-serif;
}
.home_card {
  margin-top: 68px;
  border: none;
  border-radius: 0px;
  color: white;
  background-color: var(--color4);
}

.card-text1 {
  padding-top: 50px;
  font-weight: 600;
}
.card-text {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  margin-right: 20px;
}
.card_image {
  height: 100%;
}
.button {
  display: inline-block;
  background-color: var(--color1);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--main-color2);
  font-weight: 500;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}
.button:hover {
  transform: translateY(-4px);
}

i {
  font-size: 14px;
}
.about_heading {
  color: var(--color5);
  font-weight: 600px;
}
.about_heading span {
  color: var(--color6);
  font-weight: 600px;
}
.about-card {
  border: none;
  background: transparent;
  font-weight: 500px;
}
.about-body {
  position: relative;
  top: -50px;
  margin: 25px 45px;
  text-align: justify;
}
.products_heading {
  color: var(--color6);
  font-weight: 600px;
}
.products_heading span {
  color: var(--color5);
  font-weight: 600px;
}
